 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p>It all started when my little boy was born and I promised I would make his birthday cake every year from scratch. The first year I improvised and spent most of the night before frantically trying to put something together. Although it was slightly stressful at the time I loved designing and making something special for him and seeing his little face light up when he saw it for the first time. It gave me the bug!</p>
                    <p>I then made cakes for friends and family and after a while I decided to take the plunge and that is how Nutty Dutty Cakes began.</p>
                </div>
            </div>
        </div>
    </section>