 <!-- About Section -->
    <section id="allergens">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Allergens</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p>Allergen sheets for all of my recipes coming soon.</p>
                    <p>In the meantime, please get in touch and I can provide full details or cater for any allergy.</p>
                </div>
            </div>
        </div>
    </section>