 <!-- About Section -->
    <section id="flavours">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Flavours</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nutty Dutty Cakes are all hand made with the finest ingredients. There is nothing like the classic flavours, such as vanilla sponge cake and carrot cake, but I love to experiment with unusual flavours or try pairings that are outside the box!</p>
                </div>
                <div class="col-lg-4">
                    <h4 class="title">Cake flavour ideas;</h4>
                    </div>
                <div class="col-lg-4">
                    <p>Vanilla sponge</p>
                    <p>Carrot</p>
                    <p>Carrot and orange</p>
                    <p>Chocolate</p>
                    <p>Chocolate hazlenut</p>
                    <p>Chocolate orange</p>
                    <p>Almond</p>
                    <p>Coffee</p>
                    <p>Lemon</p>
                    <p>Pistachio</p>
                    <p>Lemon and rosemary</p>
                </div>
                <div class="col-lg-4">
                    <p>Cake toppings and fillings can simply be a flavour infused sugar syrup or a vanilla buttercream and jam. They can however be any flavour you desire. I love chocolate and honeycomb, so crumble honeycomb into a chocolate buttercream to give it a little crunch. If you prefer a more fruity taste a simple buttercream mixed with strawberry or blueberry tastes amazing on a vanilla sponge or cupcake.</p>
                </div>
                <div class="col-lg-4">
                    <h4 class="title">Topping flavour ideas;</h4>
                    </div>
                <div class="col-lg-4">
                    <p>Vanilla</p>
                    <p>Chocolate</p>
                    <p>Strawberry</p>
                    <p>Blueberry</p>
                    <p>Chocolate honeycomb</p>
                    <p>Peanut butter</p>
                    <p>Salted caramel</p>
                    <p>Orange</p>
                    <p>Lemon sugar</p>
                </div>
                <div class="col-lg-4">
                    <p>The lists are endless! If there is a flavour you love or fancy trying please challenge me!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>