 <!-- About Section -->
    <section id="flavours">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Flavours</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p>Nutty Dutty Cakes are all hand made with the finest ingredients. There is nothing like the classic flavours, such as vanilla sponge cake and carrot cake, but I love to experiment with unusual flavours or try pairings that are outside the box!</p>
                </div>
                <div class="container-fluid">
                    <h4 class="title">Cake flavour ideas</h4>
                    <ul>
                    <li>Vanilla sponge</li>
                    <li>Carrot</li>
                    <li>Carrot and orange</li>
                    <li>Chocolate</li>
                    <li>Chocolate hazlenut</li>
                    <li>Chocolate orange</li>
                    <li>Almond</li>
                    <li>Coffee</li>
                    <li>Lemon</li>
                    <li>Pistachio</li>
                    <li>Lemon and rosemary</li>
                    </ul>
                <div class="container-fluid">
                    <p>Cake toppings and fillings can simply be a flavour infused sugar syrup or a vanilla buttercream and jam. They can however be any flavour you desire. I love chocolate and honeycomb, so crumble honeycomb into a chocolate buttercream to give it a little crunch. If you prefer a more fruity taste a simple buttercream mixed with strawberry or blueberry tastes amazing on a vanilla sponge or cupcake.</p>
                </div>
                <div class="container-fluid">
                    <h4 class="title">Topping flavour ideas</h4>
                    <ul>
                    <li>Vanilla</li>
                    <li>Chocolate</li>
                    <li>Strawberry</li>
                    <li>Blueberry</li>
                    <li>Chocolate honeycomb</li>
                    <li>Peanut butter</li>
                    <li>Salted caramel</li>
                    <li>Orange</li>
                    <li>Lemon sugar</li>
                    </ul>
                </div>
                <div class="container-fluid">
                    <p>The lists are endless! If there is a flavour you love or fancy trying please challenge me!</p>
                </div>
            </div>
        </div>
    </section>