 <!-- About Section -->
    <section class="darker" id="prices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Prices</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p>Nutty Dutty Cakes are all made to order and designed through a consultation with you. Everything from the flavour to the specific design is individual and unique, so the prices will vary.</p>
                    <p>Special occasion cakes start from £30 and a two tier wedding cake starts from £180.</p>
                    <p>I would be happy to discuss any requirements and ideas with you and will be able to provide a full quotation.</p>
                </div>
            </div>
        </div>
    </section>